<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeakysBlueprinter.UI.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeakysBlueprinter.UI.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <LeakysBlueprinter.UI.WPF.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Leaky's Blueprinter</value>
            </setting>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Resources_RelativePathConst" serializeAs="String">
                <value>Content\Data\|Content\Data\|Content\Data\|Content\Data\Localization</value>
            </setting>
            <setting name="Resources_TargetFileNamesConst" serializeAs="String">
                <value>CubeBlocks.sbc|Components.sbc|Blueprints.sbc|MyTexts.resx</value>
            </setting>
            <setting name="Resources_ResourceNamesConst" serializeAs="String">
                <value>Block definitions|Component definitions|Blueprint definitions|Localization file</value>
            </setting>
            <setting name="Resources_ResourceDescriptionsConst" serializeAs="String">
                <value>This file tells us everything about those juicy blocks you build with.|This file gives us basic info about components, like steel plate, glass, etc.|This file has the recipes of components, like what ingots are they made of.|This file has the names of things in English. Literally just that.</value>
            </setting>
        </LeakysBlueprinter.UI.WPF.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LeakysBlueprinter.UI.WPF.Properties.Settings>
            <setting name="RecentFilesList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Resources_CachedUris" serializeAs="String">
                <value />
            </setting>
        </LeakysBlueprinter.UI.WPF.Properties.Settings>
    </userSettings>
</configuration>